@use 'styles/variables' as vs

.input
  margin-block: 1rem 0.5rem
  padding: 1rem
  width: 100%
  border: none
  border-radius: 10px
  background-color: vs.$colors-red
  color: vs.$colors-white
  font-size: vs.$text-size-large

  &:disabled
    background-color: vs.$colors-red-075