$colors-white: #FFFFFF;
$colors-gray: #888888;
$colors-light-gray: #D9D9D9;
$colors-dark-gray: #656565;
$colors-black: #000000;
$colors-soft-black: #353535;
$colors-red: #7E2726;
$colors-red-075: #7e2726bf;
$colors-yellow: #D2AE6C;
$colors-pastel-blue: #6474BD;
$colors-pastel-green: #79DDA1;
$colors-pastel-yellow: #F8D57A;
$colors-pastel-red: #FE6D4C;
$colors-background: #F3F3F3;

$text-size-xx-title: 40px;
$text-size-x-title: 32px;
$text-size-title: 24px;
$text-size-large: 20px;
$text-size-normal: 16px;
$text-size-small: 14px;

$shadow-black-005: 0px 4px 12px #0000000d;

$border-radius-big: 10px;
$border-radius-small: 5px;

@font-face {
  font-family: 'Roboto Light';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('assets/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto Black';
  src: url('assets/fonts/Roboto/Roboto-Black.ttf');
}

$font-stack-light: 'Roboto Light', sans-serif;
$font-stack-regular: 'Roboto', sans-serif;
$font-stack-medium: 'Roboto Medium', sans-serif;
$font-stack-bold: 'Roboto Bold', sans-serif;
$font-stack-black: 'Roboto Black', sans-serif;
