$font-project: 'Segoe UI';

$colors-white: #FFFFFF;
$colors-gray: #888888;
$colors-light-gray: #D9D9D9;
$colors-dark-gray: #656565;
$colors-black: #000000;
$colors-black-005: #0000000d;
$colors-soft-black: #353535;
$colors-red: #7E2726;
$colors-yellow: #D2AE6C;
$colors-pastel-blue: #6474BD;
$colors-pastel-green: #79DDA1;
$colors-pastel-yellow: #F8D57A;
$colors-pastel-red: #FE6D4C;
$colors-background: #F3F3F3;

$text-size-title: 24px;
$text-size-normal: 16px;
$text-size-small: 14px;

$border-radius-big: 10px;
$border-radius-small: 5px;