@use './variables' as vs;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vs.$font-stack-regular;
    font-size: vs.$text-size-normal;
}

body {
    background-color: vs.$colors-background;
}