@use 'styles/variables' as vs;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  margin-inline: 4rem;
  margin-block: 1rem;
  padding-inline: 4rem;
  padding-block: 1.25rem;

  background-color: vs.$colors-white;
  box-shadow: 0px 4px 12px vs.$colors-black-005;
  border-radius: 10px;
}

.logo {
  width: 51px;
  height: 51px;
}

.title {
  color: vs.$colors-red;
  font-family: vs.$font-stack-black;
  font-size: vs.$text-size-large;
}