@use 'sass:color'
@use 'styles/variables' as vs

.list_item
  display: flex
  list-style-type: none
  align-items: center

  padding: .5rem .75rem
  gap: 1rem

  border-radius: 2rem

  img
    filter: grayscale(1) brightness(1.75)

  .link
    color: vs.$colors-dark-gray
    text-decoration: none

  &:active
    background-color: color.scale($color: vs.$colors-red, $alpha: -75%)

    img
      filter: none
    .link
      color: vs.$colors-red