@use 'styles/variables' as vs
@use 'styles/elements' as el

.aside, .main
  display: inline-block
  vertical-align: top

.aside
  height: 84vh
  flex-direction: row
  margin: 0 2rem 1rem 4rem

.custom_btn
  @include el.button($margin-block: 0, $background-color: vs.$colors-transparent, $color: vs.$colors-red)
  font-size: 16px

.custom_modal_btn
  @extend .custom_btn
  border: 1px solid vs.$colors-red