%card {
  display: flex;
  width: max-content;
  background-color: white;
  border-radius: 10px;
}

.card_horizontal {
  @extend %card;
  flex-direction: row;
}

.card_vertical {
  @extend %card;
  flex-direction: column;
}